* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* #text-as-html-container {
  border: 3px solid green;
} */
#text-as-html-container p {
  margin: 0;
}

#text-as-html-container pre {
  margin: 0;
}

/* #text-to-svg-container {
  border: 3px solid brown;
}

#text-to-svg {
  border: 3px solid blue;
} */

#text-as-html-container p,
svg p,
#text-as-html-container p {
  margin: 0;
  line-height: 1;
  font: 15px Arial, sans-serif;
}

canvas {
  border: 2px solid purple;
  display: block;
}
