#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#text-as-html-container {
  border: 3px solid green
}
#text-as-html-container p {
  margin: 0
}

#text-as-html-container pre {
  margin: 0
}